body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
    font-family: monospace;
    touch-action: none; /* Disable browser handling of all panning and zooming gestures. */
    -ms-touch-action: none;
}

#start-game {
    background: orangered;
    color: white;
}

#cheat-game {
    background: yellow;
    color: black;
}

#toggle-control-buttons {
    color: orangered;
}

.toggle-on {
    background-color: royalblue;
    color: white;
}

.transparent-button {
    border: 2px solid black;
    color: black;
    background: rgba(0, 0, 0, 0);

    user-select: none; /* Prevent text selection */
    -webkit-user-select: none; /* Prevent text selection in Safari */
    -moz-user-select: none; /* Prevent text selection in Firefox */
    -ms-user-select: none; /* Prevent text selection in Internet Explorer/Edge */
    -webkit-touch-callout: none; /* Prevent callout on long press in Safari */
}

#control-container {
    position: fixed;
    bottom: 10vh;
    left: 0;
    width: 100vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 1fr minmax(0, 200px) 1fr;
}

#move-button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: max(5vw, 5vh);
}

#attack-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: max(5vw, 5vh);
}

.active {
    background: royalblue;
    color: white;
}